/* Generic pane rules */
body { 
    margin: 0; 
    -webkit-text-size-adjust: 100%;    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}
.page { left: 0; right: 0; top: 0; bottom: 0; }
.cld-row, .col, .page { overflow: hidden; position: absolute;}
.cld-row { left: 0; right: 0; margin: 0;}
.col { top: 0; bottom: 0; margin: 0;}
.scroll-x { overflow-x: auto; -webkit-overflow-scrolling: touch; }
.scroll-y { overflow-y: auto; -webkit-overflow-scrolling: touch; }
.fill, .pane { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100% }
.pane { display: none; }

.left.col { width: 220px;}
.right.col { left: 220px; right: 0; }
.header.cld-row { height: 100px; line-height: normal; }
.body.cld-row { top: 100px; bottom: 50px; }
.footer.cld-row { height: 50px; bottom: 0; line-height: normal; }


.fullscreen {
    position: absolute;
    width:100%;
    height:100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


.left {
    background-color: white;
    border-right: 1px solid gray;
}

.header {
    background-color: #2b69aa;
    color:white;
}

.header-caption {
/*    font-family: 'Segoe UI';*/
    font-size: 10px;
    font-weight: bold;
    line-height: 70px;
    padding-left: 20px;;
    float:left;

}

.footer { background-color: gray; color:#efefef; }

.session-header {
    text-align: right;
    height: 30px;
    font-weight: bold;
    font-size: 8pt;
    width:100%;
    background-color:gray;
    color:white;
    display: block;
    line-height: 30px;
    border-bottom: 1px solid #c0c0c0;
}

.session-header ul {
    list-style: none;
    line-height: 30px;
    padding: 0;
    margin: 0;
}

.session-header ul li {
    margin: 0;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    border-left: 1px solid #c0c0c0;
}

.session-header a {
    display: inline-block;
    width: auto;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
}

.cld-tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 240px;
}

.cctab {
    cursor: pointer;
}

.cld-tabs-selected {
    background-color:white !important;
    color: #2b69aa !important;
}

.cld-tabs li { 
    display: inline-block;
    border: solid;
    border-width: 0 1px 1px 1px;
    margin: 0 2px 0 0;
    font-size: 10pt;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
    padding-bottom: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: -1px;
    float:left;
    height:30px;
    background-color:silver;
    color: black;
}

.picker-row {
    width:100%;
    font-size: 16pt;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:20px;
    border-bottom:1px solid #c0c0c0;
}

a:hover {
    text-decoration: none;
}

.nopadding {
    padding:0 !important;
    margin:0 !important;
}

.fs-label {
    font-size:8pt;
    font-weight:bold;

}


.metadata-select {
    min-width:200px;
    margin-right:8px;
}
.sidebox div {
    padding: 8px;
}

.modal-dialog {
    /* new custom width */
    width: 90%;
    /* must be half of the width, minus scrollbar on the left (30px) */
/*    margin-left: -280px;*/
}

.form-group {
    border:1px solid #c0c0c0;
    margin:18px;
    font-size:10pt;
    font-weight:normal;
    padding:8px;
    
}

.form-group label {
    font-size:10pt;
    font-weight:normal;
}

.form-group legend {
    border:none;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #2957a2;
    width:auto;
    font-size: 10pt;
    font-weight: normal;
    margin:0;
    margin-top:-18px;
    background-color:white;
}

.indent-1 {
    padding-left: 20px !important;
}

.indent-2 {
    padding-left: 30px !important;
}

legend {

}


.cld-table
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 0px;
    width: 100%;
    overflow: auto;
    text-align: left;
    border-collapse: collapse;
}

.cld-table th[scope=row]
{
    width:100px;
    max-width:300px;
}

.cld-table th
{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #71a0d0;
    border-top: 4px solid #4980ba;
    border-bottom: 1px solid #fff;
    color: white;
}
.cld-table td
{
    padding: 8px;
    background: #e8edff; 
    border-bottom: 1px solid #fff;
    color: #2b69aa;
    border-top: 1px solid transparent;
    border-right: 2px solid white;
}
.cld-table tr:hover td
{
    background: #d0dafd;
    color: #339;
}