<cfset glob = createObject("lib.cfmumps.global")>
<cfset glob.open("KBBMFSEN", [url.dfn, url.date])>
<cfset record = glob.getObject()>
<cfdump var="#record#">
<cfset glob.close()>
<table id="viewFS" class="cld-table">
	<thead>
		<tr>
			<th>Time</th>
			<th>Flowsheet</th>
			<th>Category</th>
			<th>Observation/Comments</th>
			<th>Units</th>
			<th>Method</th>
			<th>Location</th>
			<th>Quality</th>
			<th>Product</th>
		</tr>
	</thead>
	<tbody>
				
	</tbody>
</table>
